.mobile-header_text {
    font-family: "SpoqaHanSansNeo-Light";
    margin-left: 10px;
    text-decoration: none;
    color: #2B354F;
    font-size: 14px;
    
    &.active {
      font-family: "SpoqaHanSansNeo-medium";
      color: #4B7BF2;
    }
  }
  
  .mobile-header_icon {
    color: #BCC4DB;
  
    &.active {
      color: #4B7BF2;
    }
  }